index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/style.scss">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<header class="container">
    <div class="row header">
        <div class="col-1">
            <nav>
                <div class="lang-menu">
                    <div class="selected-lang">RU
                    </div>
                    <ul>
                        <li>
                            <a>EN</a>
                        </li>
                        <li>
                            <a>UA</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-7 menu-list d-flex justify-content-around">
            <div class="company">Компания</div>
            <div class="clients">Клиентам</div>
            <div>Услуги</div>
            <div>Решения</div>
            <div>Наши работы</div>
            <div>Акции</div>
            <div>Контакты</div>
        </div>
        <div class="col-2 e-mail text-center">office@best-energy.com.ua</div>
        <div class="col-2 soc-network d-flex ">
            <div>
                <div class="icon"><img src="img/img-header/icon-social-telegram.svg" alt="Logo"></div>
                <div class="txt-s-n">Telegram</div>
            </div>
            <div>
                <div class="icon"><img src="img/img-header/icon-social-viber.svg" alt="Logo"></div>
                <div class="txt-s-n">Viber</div>
            </div>
        </div>
    </div>

</header>

<script src="js/script.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>

app/index.pug
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='app/style.scss')
    body
        header.container
            .row.header
                .col-1
                    nav
                        .lang-menu
                            .selected-lang
                                | RU
                            ul
                                li
                                    a EN
                                li
                                    a UA
                .col-7.menu-list.d-flex.justify-content-around
                    .company Компания
                    .clients Клиентам
                    div Услуги
                    div Решения
                    div Наши работы
                    div Акции
                    div Контакты
                .col-2.e-mail.text-center office@best-energy.com.ua
                .col-2.soc-network.d-flex
                    div
                        .icon
                            img(src='img/img-header/icon-social-telegram.svg', alt='Logo')
                        .txt-s-n Telegram
                    div
                        .icon
                            img(src='img/img-header/icon-social-viber.svg', alt='Logo')
                        .txt-s-n Viber
        script(src='js/script.js')
